<div style="padding: 50px 100px 100px;">
  <button type="button" (click)="customBtnConnect()">Custom Connect</button>

  <div style="display: flex;justify-content: flex-end; background: #DDE3EC;padding: 50px;">
    <applicature-connect-wallet [showBalance]="true"
                                [showNetworkOptions]="true"
                                [networkOptions]="networkOptions"
                                [networkDropdownConfig]="networkDropdownConfig"
                                (onConnect)="onConnect($event)"
                                (onDisconnect)="onDisconnect($event)"
    >
    </applicature-connect-wallet>
  </div>
  <br>
  <div style="display: flex;justify-content: flex-end; background: #DDE3EC;padding: 50px;">
    <applicature-connect-wallet [showBalance]="true"
                                [showTransactions]="true"
                                [networkOptions]="networkOptions"
                                [account]="{ name: 'Account Name', image: 'assets/images/default-avatar.png' }"
                                [accountOptions]="accountOptions"
                                [accountDropdownConfig]="accountDropdownConfig"
                                appearance="icon">
    </applicature-connect-wallet>
  </div>
  <br>

  <div style="display: flex;justify-content: flex-end; background: #DDE3EC;padding: 50px;">
    <applicature-connect-wallet [showBalance]="true"
                                [showTransactions]="true"
                                [networkOptions]="networkOptions"
                                [account]="{ name: 'Account Name', image: 'assets/images/default-avatar.png' }"
                                [accountOptions]="accountOptions"
                                appearance="button">
    </applicature-connect-wallet>
  </div>

  <section id="dialogs">
    <h2 class="section-title">Applicature Dialogs</h2>
    <app-example-dialogs></app-example-dialogs>
  </section>
  <br>
  <br>

  <div style="background: #fff;padding: 50px;">
    <applicature-input label="Field Label"
                       suffix="USDT"
                       hint="This is a message"
                       placeholder="Enter"
                       [max]="100">
    </applicature-input>
    <br>
    <br>
    <applicature-input label="Field Label"
                       suffix="USDT"
                       hint="This is a message"
                       placeholder="Enter"
                       [max]="100"
                       [errors]="['This is an error message']">
    </applicature-input>
    <br>
    <br>
    <applicature-input label="Field Label"
                       suffix="USDT"
                       hint="This is a message"
                       placeholder="Enter"
                       [max]="100"
                       [disabled]="true">
    </applicature-input>
  </div>
  <br>
  <br>

  <auc-alert text="Alert text goes here"
             icon="wcl-icon-fail"
             [color]="COLORS.RED"
             [iconPosition]="ALERT_POSITION.LEFT"
  >
  </auc-alert>
  <br>
  <br>

  <auc-alert text="Alert text goes here"
             [color]="COLORS.GREEN"
             icon="wcl-icon-fail"
  >
  </auc-alert>
  <br>
  <br>

  <auc-alert text="Alert text goes here"
             icon="wcl-icon-fail"
             [color]="COLORS.BLUE"
             [iconPosition]="ALERT_POSITION.LEFT"
  >
  </auc-alert>
  <br>
  <br>

  <auc-alert text="Alert text goes here"
             icon="wcl-icon-fail"
             [color]="COLORS.ORANGE"
             [iconPosition]="ALERT_POSITION.RIGHT"
  >
  </auc-alert>
  <br>
  <br>

  <auc-alert text="Alert text goes here"
             icon="wcl-icon-fail"
             [color]="COLORS.GREY"
             [iconPosition]="ALERT_POSITION.LEFT"
  >
  </auc-alert>
  <br>
  <br>

  <auc-alert text="Alert text goes here"
             icon="wcl-icon-fail"
             [color]="COLORS.WHITE"
  >
  </auc-alert>
  <br>
  <br>

  <applicature-avatar src="assets/images/default-avatar.png"></applicature-avatar>
  <br>
  <br>

  <applicature-avatar src="assets/images/default-avatar.png" [size]="48"></applicature-avatar>
  <br>
  <br>

  <auc-button label="Button" [disabled]="true"></auc-button>
  <br>
  <br>

  <auc-button label="Button"></auc-button>
  <br>
  <br>

  <auc-button label="Button" leftIcon="wcl-icon-star"></auc-button>
  <br>
  <br>

  <auc-button label="Button" rightIcon="wcl-icon-chevron-down"></auc-button>
  <br>
  <br>

  <auc-button label="Button" leftIcon="wcl-icon-star" rightIcon="wcl-icon-chevron-down"></auc-button>
  <br>
  <br>

  <auc-button [appearance]="BTN_APPEARANCE.ICON" leftIcon="wcl-icon-recent" [color]="COLORS.WHITE"></auc-button>
  <br>
  <br>

  <auc-button label="Ethereum" leftIcon="wcl-icon-star" rightIcon="wcl-icon-chevron-down"
              [color]="COLORS.WHITE"></auc-button>
  <br>
  <br>

  <auc-button label="0x643...5456" [identicon]="identicon"></auc-button>
  <br>
  <br>

  <auc-button label="0x643...5456" [identicon]="identicon" [identiconPosition]="IDENTICON_POSITION.LEFT"></auc-button>
  <br>
  <br>

  <auc-button label="Ethereum" leftIcon="wcl-icon-star" [borderRadius]="0" [color]="COLORS.WHITE"></auc-button>
  <br>
  <br>

  <auc-button label="Ethereum" leftIcon="wcl-icon-star" [borderRadius]="0" [transparent]="true"
              [color]="COLORS.WHITE"></auc-button>
  <br>
  <br>

  <auc-button label="1 pending" [color]="COLORS.WHITE" [pending]="true"></auc-button>
  <br>
  <br>

  <auc-button label="Ethereum" [adaptive]="true"></auc-button>
  <br>
  <br>

  <section id="table">
    <h2 class="section-title">Applicature Table</h2>

    <div class="example-card">
      <app-example-table></app-example-table>
    </div>
  </section>

  <br>
  <br>

  <section id="dropdown-menu">
    <h2 class="section-title">Applicature Dropdown Menu</h2>

    <div class="example-card">
      <app-custom-dropdown-menu></app-custom-dropdown-menu>
    </div>
  </section>

</div>
