<main id="main">
  <app-card title="Connect wallet">
    <app-example-connect-wallet></app-example-connect-wallet>
  </app-card>

  <app-card title="Buttons">
    <app-example-buttons></app-example-buttons>
  </app-card>

  <app-card title="Avatars">
    <app-example-avatars></app-example-avatars>
  </app-card>

  <app-card title="Dialogs">
    <app-example-dialogs></app-example-dialogs>
  </app-card>

  <app-card title="Dropdown">
    <app-example-custom-dropdown-menu></app-example-custom-dropdown-menu>
  </app-card>

  <app-card title="Faucet">
    <app-example-faucet></app-example-faucet>
  </app-card>

  <app-card title="Table">
    <app-example-table></app-example-table>
  </app-card>

  <app-card title="Inputs">
    <app-example-inputs></app-example-inputs>
  </app-card>

  <app-card title="Alerts">
    <app-example-alerts></app-example-alerts>
  </app-card>

  <app-card title="Account Balance" *ngIf="isConnected">
    <app-example-account-balance></app-example-account-balance>
  </app-card>
</main>
