@use 'common' as c;

.code-example-container,
.code-example {
  position: relative;
}

.copy-code {
  position: absolute;
  top: -37px;
  right: 16px;
  width: 64px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

pre.prettyprint {
  border: none;
  white-space: break-spaces;
  overflow-x: auto;
  max-height: 295px;
  padding: 16px;
  margin: 0;
  background-color: transparent;

  & > .pln {
    display: none;
  }
}
