<div class="example-card">
  <applicature-button (onClick)="showCustomModal()"
                      label="Open Test Applicature Modal"
  >
  </applicature-button>
</div>

<br>
<br>

<div class="example-card">
  <applicature-button (onClick)="onOpenTransferModalClick()"
                      label="Open Transfer Modal"
  >
  </applicature-button>
</div>

<br>
<br>

<div class="example-card">
  <applicature-button (onClick)="onOpenWrongNetworkModalClick()"
                      label="Open Wrong Network Modal"
  >
  </applicature-button>
</div>
