<div class="example-card">
  <auc-button (onClick)="showCustomModal()"
                      label="Open Test Applicature Modal"
  >
  </auc-button>
</div>

<br>
<br>

<div class="example-card">
  <auc-button (onClick)="onOpenTransferModalClick()"
                      label="Open Transfer Modal"
  >
  </auc-button>
</div>

<br>
<br>

<div class="example-card">
  <auc-button (onClick)="onOpenWrongNetworkModalClick()"
                      label="Open Wrong Network Modal"
  >
  </auc-button>
</div>
