<div class="example-block">
  <auc-alert text="Default Alert"></auc-alert>
</div>

<div class="example-block">
  <auc-alert text="Alert with icon" [icon]="WLC_ICON.FAIL"></auc-alert>
</div>

<div class="example-block">
  <auc-alert text="Alert with custom icon" icon="assets/svg/network/eth.svg"></auc-alert>
</div>

<div class="example-block">
  <auc-alert text="Alert with icon position"
             [icon]="WLC_ICON.WRONG"
             iconPosition="right"
  >
  </auc-alert>
</div>

<div class="example-block">
  <auc-alert text="Blue Alert"
             icon="wcl-icon-fail"
             color="blue"
  >
  </auc-alert>
</div>

<div class="example-block">
  <auc-alert text="Green Alert"
             icon="wcl-icon-fail"
             color="green"
  >
  </auc-alert>
</div>

<div class="example-block">
  <auc-alert text="Gray Alert"
             icon="wcl-icon-fail"
             color="gray"
  >
  </auc-alert>
</div>

<div class="example-block">
  <auc-alert text="Orange Alert"
             icon="wcl-icon-fail"
             color="orange"
  >
  </auc-alert>
</div>

<div class="example-block">
  <auc-alert text="Red Alert"
             icon="wcl-icon-fail"
             color="red"
  >
  </auc-alert>
</div>

<div class="example-block">
  <auc-alert text="White Alert"
             icon="wcl-icon-fail"
             color="white"
  >
  </auc-alert>
</div>
