<h2>{{exampleTitle}}</h2>

<div class="content-wrapper">
  <ng-content></ng-content>
</div>

<div class="code-wrapper">
  <h6>HTML</h6>
  <pre class="prettyprint" [ngClass]="'lang-' + lang" [innerText]="code"></pre>
  <h6>TS</h6>
  <pre class="prettyprint" [ngClass]="'lang-' + 'js'" [innerText]="testCode"></pre>
</div>

<demo-doc-view *ngIf="components" [components]="components"></demo-doc-view>

<!--<ui-tab-group selectedTabKey="example" class="tabGroup">-->
<!--  <ui-tab key="example" label="Example">-->
<!--    <div example class="content-wrapper">-->
<!--      <ng-content></ng-content>-->
<!--    </div>-->
<!--  </ui-tab>-->
<!--  <ui-tab key="code" label="Code" (onSelect)="prettyPrint()">-->
<!--    <pre class="prettyprint" code [ngClass]="'lang-' + lang" [innerText]="code"></pre>-->
<!--  </ui-tab>-->
<!--  <ui-tab key="api" label="API">-->
<!--    <app-doc-view *ngIf="components" [components]="components"></app-doc-view>-->
<!--  </ui-tab>-->
<!--</ui-tab-group>-->
