@use 'common' as c;
@use 'as-common' as as;

$card-padding: 16px 16px 48px;

.doc-example-card-container {
  background: map-get(c.$gradient, purple-card);
  border-radius: c.$border-radius;
}

.doc-example-card-header,
.doc-example-card-content {
  padding: $card-padding;
}

.doc-example-card-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 24px;
}

.doc-example-card-content {
  & > *:not(:first-child) {
    margin-top: 20px;
  }
}

.doc-show-code-bth {
  position: absolute;
  border: none;
  font-size: 16px;
  border-radius: c.$border-radius-small;
  background: transparent;
  color: map-get(c.$white, 1);
  padding: 8px 16px;
  align-self: flex-end;
  @include as.transition;

  &:hover,
  &.active {
    background: rgba(map-get(c.$white, 3), 0.2);
  }
}

.doc-example-box {
  display: flex;
  flex-direction: column;
}
