.doc-custom-connect-btn {
  border: none;
  background: #3F67C7;
  color: #fff;
  padding: 5px 15px;
  font-size: 18px;
  height: 40px;
  transition: background-color .25s;

  &:hover {
    background: rgba(#3F67C7, .9);
  }
}
