<h2>With Icon:</h2>

<auc-account-balance
  [isCurrency]="true"
></auc-account-balance>

<br>
<br>

<h2>Icon + color:</h2>

<auc-account-balance
  [isCurrency]="true"
  [color]="COLORS.BLUE"
></auc-account-balance>

<br>
<br>

<h2>Icon + appearance transparent</h2>

<auc-account-balance
  [isCurrency]="true"
  [appearance]="BALANCE_APPEARANCE.TRANSPARENT"
></auc-account-balance>

<br>
<br>

<h2>Icon + appearance translucent</h2>

<auc-account-balance
  [isCurrency]="true"
  [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
></auc-account-balance>

<br>
<br>

<h2>Icon + appearance translucent + color</h2>

<auc-account-balance
  [isCurrency]="true"
  [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
  [color]="COLORS.GREY"
></auc-account-balance>

<br>
<br>











<h2>Without Icon:</h2>

<auc-account-balance></auc-account-balance>

<br>
<br>

<h2>Without Icon + color:</h2>

<auc-account-balance
  [color]="COLORS.BLUE"
></auc-account-balance>

<br>
<br>

<h2>Without Icon + appearance transparent</h2>

<auc-account-balance
  [appearance]="BALANCE_APPEARANCE.TRANSPARENT"
></auc-account-balance>

<br>
<br>

<h2>Without Icon + appearance translucent</h2>

<auc-account-balance
  [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
></auc-account-balance>

<br>
<br>

<h2>Without Icon + appearance translucent + color</h2>

<auc-account-balance
  [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
  [color]="COLORS.GREY"
></auc-account-balance>

<br>
<br>







<h2>With Icon + adderss:</h2>

<auc-account-balance
  [isCurrency]="true"
  [showAddress]="true"
  (onAddressClick)="onAddressClick()"
></auc-account-balance>

<br>
<br>

<h2>Icon + color + adderss:</h2>

<auc-account-balance
  [isCurrency]="true"
  [color]="COLORS.BLUE"
  [showAddress]="true"
  (onAddressClick)="onAddressClick()"
></auc-account-balance>

<br>
<br>

<h2>Icon + appearance transparent + adderss</h2>

<auc-account-balance
  [isCurrency]="true"
  [appearance]="BALANCE_APPEARANCE.TRANSPARENT"
  [showAddress]="true"
  (onAddressClick)="onAddressClick()"
></auc-account-balance>

<br>
<br>

<h2>Icon + appearance translucent + adderss</h2>

<auc-account-balance
  [isCurrency]="true"
  [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
  [showAddress]="true"
  (onAddressClick)="onAddressClick()"
></auc-account-balance>

<br>
<br>

<h2>Icon + appearance translucent + color + adderss</h2>

<auc-account-balance
  [isCurrency]="true"
  [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
  [color]="COLORS.GREY"
  [showAddress]="true"
  (onAddressClick)="onAddressClick()"
></auc-account-balance>

<br>
<br>

<h2>Icon + appearance translucent + adderss + address idenciton</h2>

<auc-account-balance
  [isCurrency]="true"
  [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
  [showAddress]="true"
  [addressConfig]="{
    showIdenticon: true
  }"
  (onAddressClick)="onAddressClick()"
></auc-account-balance>

<h2>Icon + appearance translucent + adderss + address idenciton + identicon position left + address color</h2>

<auc-account-balance
  [isCurrency]="true"
  [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
  [showAddress]="true"
  [addressConfig]="{
    showIdenticon: true,
    identiconPosition: IDENTICON_POSITION.LEFT,
    color: COLORS.BLUE
  }"
  (onAddressClick)="onAddressClick()"
></auc-account-balance>

<h2>Without Icon + appearance translucent + adderss + address idenciton + identicon position left + address color + address disabled</h2>

<auc-account-balance
  [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
  [showAddress]="true"
  [addressConfig]="{
    showIdenticon: true,
    identiconPosition: IDENTICON_POSITION.LEFT,
    color: COLORS.BLUE,
    disabled: true
  }"
  (onAddressClick)="onAddressClick()"
></auc-account-balance>
