@use 'common' as c;

$card-padding: 15px;

.example-card-container {
  display: block;
  border-radius: 12px;
  overflow: hidden;
  background-color: c.$main-bg-color;
}

.example-card-header {
  position: relative;
  cursor: pointer;
  padding: $card-padding 70px;
  background-color: #DCE4EB;

  w3s-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }
}

.example-card-title {
  font-size: 21px;
  font-weight: bold;
}

.example-card {
  height: 0;
  overflow: hidden;

  &.example-card-expanded {
    height: auto;
    padding: $card-padding;
    position: relative;

    &:before {
      content: '';
      border-top: 1px solid #DDE3EC;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .example-card-header {
    padding-right: 15px;
    padding-left: 15px;
  }
}
