@use "fonts";
@use "resset";
@use "as-styles";
@use 'common' as c;

.example-block {
  padding: 15px 0;

  &:not(:first-child) {
    border-top: 1px solid #DDE3EC;
  }
}

.example-block-title {
  margin-bottom: 10px;
}
