@use 'common' as c;

.doc-footer {
  display: block;
  height: c.$footer-height;
  background: c.$header-bg;
  padding: c.$main-vertical-padding c.$main-horizontal-padding;
  color: c.$white-text-color;
}

.doc-developed-by {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: block;
    margin-left: 5px;
    line-height: 0;

    img {
      height: 21px;
    }
  }
}
