@use 'common' as c;

$logo-width: 184px;

#header {
  width: 100%;
  height: map-get(c.$header-height, xl);
  background: rgba(11, 9, 22, 0.5);
  backdrop-filter: blur(100px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.header {
  height: 100%;
  width: 100%;
  max-width: c.$max-page-width;
  padding: 0 map-get(c.$page-indent, lg);
  margin: 0 auto;
}

.header-container {
  width: 100%;
  max-width: c.$max-page-width;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.menu-action-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  width: $logo-width;
  display: block;
  left: -16px;
  margin-top: 3px;

  img {
    width: 100%;
  }
}

.main-menu-container {
  width: 100%;
  padding: 22px $logo-width;
  display: flex;
  justify-content: center;
}

.menu-action-btn {
  padding: 9px 24px;
  right: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav-item {
  display: block;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: c.$title-color;
  text-decoration: none;
  cursor: pointer;

  &.active {
    color: map-get(c.$blue, base);
  }

  &:not(.active):hover {
    color: map-get(c.$blue, hover);
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.menu-trigger {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: 32px;
  height: 32px;
  transition: all 0.3s ease-out;

  span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: c.$title-color;
    overflow: hidden;
    transition: transform 0.3s ease-out;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &.active {
    transform: rotate(180deg);

    span {
      &:first-child {
        transform: rotate(-45deg);
        top: 6px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        bottom: 8px;
        transform: rotate(45deg);
      }
    }
  }
}

@media (max-width: map-get(c.$grid-breakpoints, lg)) {
  #header {
    height: map-get(c.$header-height, lg);
  }

  .logo {
    width: 143px;
    left: -13px;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
  }

  .menu-action-btn {
    position: relative;
    top: 0;
    transform: translateY(0);
    margin-top: 16px;
  }

  .main-menu-container {
    transition: all 0.2s;
    transform: translateY(calc((100% + map-get(c.$header-height, lg)) * -1));
    position: fixed;
    top: map-get(c.$header-height, lg);
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    padding: 24px map-get(c.$page-indent, sm);
    background: c.$main-bg;
    z-index: -1;
    opacity: 0;

    &.opened {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .main-nav {
    display: block;
  }
}

@media (max-width: map-get(c.$grid-breakpoints, sm)) {
  .header {
    padding: 0 map-get(c.$page-indent, sm);
  }
}
