@use 'common' as c;

$code-section-width: 380px;

.component-title {
  margin-bottom: 8px;
}

doc-example-card {
  display: block;
}

.doc-api-table-section {
  display: block;
}

.code-component-container {
  margin-bottom: 48px;

  &:last-child {
    margin-bottom: 0;
  }

  ::ng-deep {
    .doc-example-card-container {
      background: transparent;
      border-radius: 0;
    }

    .doc-example-card-content {
      padding: 0;
    }
  }
}

.doc-api-section-item {
  width: 100%;
  min-height: 51px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 16px 0;

  &.full-width {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    border-bottom: 1px solid c.$border-color;
  }
}

.doc-api-code {
  width: $code-section-width;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 31px;

  &.full-width {
    width: 100%;
    flex-wrap: wrap;
    border-right: none;
  }
}

.code-default {
  margin-top: 15px;
}

.doc-api-description {
  width: calc(100% - #{$code-section-width});
  color: map-get(c.$white, 2);

  &.full-width {
    width: 100%;
    padding-top: 0;
  }
}

.code-property {
  white-space: pre-line;
}

@media (max-width: map-get(c.$grid-breakpoints, md)) {
  .doc-api-section-item {
    flex-wrap: wrap;
    word-break: break-word;
  }

  .doc-api-code {
    width: 100%;
    flex-wrap: wrap;
    border-right: none;
  }

  .doc-api-description {
    width: 100%;
    padding-top: 0;
  }
}
