<div class="example-block">
  <auc-input label="Field Label"
             suffix="USDT"
             hint="This is a message"
             placeholder="Enter"
             [max]="100"
  >
  </auc-input>
</div>

<div class="example-block">
  <auc-input label="Field Label"
             suffix="USDT"
             hint="This is a message"
             placeholder="Enter"
             [max]="100"
             [errors]="['This is an error message']"
  >
  </auc-input>
</div>

<div class="example-block">
  <auc-input label="Field Label"
             suffix="USDT"
             hint="This is a message"
             placeholder="Enter"
             [max]="100"
             [disabled]="true"
  >
  </auc-input>
</div>
