.doc-actions {
  display: flex;
  flex-direction: column;
  padding: 10px;

  w3s-button:not(:last-child) {
    margin-bottom: 20px;
  }
}

.history-component {
  text-align: center;
  margin-bottom: 16px;
}
