@use 'common' as c;

:host {
  display: block;
  background-color: c.$card-bg;
  border-radius: c.$border-radius;
  padding: c.$card-padding;
}

@media (max-width: map-get(c.$grid-breakpoints, sm)) {
  :host {
    padding: c.$card-mobile-padding;
  }
}
