@use 'common' as c;

:host {
  display: block;
}

.markdown {
  ::ng-deep {
    a {
      text-decoration: underline;
      color: map-get(c.$blue, base);
    }

    .doc.prettyprint {
      background: map-get(c.$gradient, purple-dark-card);
      max-width: inherit;
      border-radius: 0;
      border: none;
      white-space: break-spaces;
      word-break: break-all;
    }

    .getting-started-code {
      background: transparent;
      word-break: break-all;
    }

    ul {
      .doc.prettyprint {
        margin: 0 0 0 -40px;
      }
    }

    ::marker {
      color: c.$pink;
    }
  }
}

@media (max-width: map-get(c.$grid-breakpoints, sm)) {
  :host {
    padding: c.$card-mobile-padding;
  }
}
