@use 'common' as c;

$sidenav-title-height: 60px;
$desktop-menu-width: 200px;

.main-page-container {
  overflow: auto;
}

.doc-sidenav-container {
  margin-top: 162px;
}

.doc-main-container {
  width: 100%;
  max-width: c.$max-page-width;
  margin: 0 auto;
  padding: 0 map-get(c.$page-horizontal-padding, lg);
  display: grid;
  grid-template-columns: $desktop-menu-width 1fr;
  grid-gap: 64px;
}

.main-menu-toggle {
  background-color: transparent;
  box-shadow: none;
  color: c.$white-text-color;
}

@media (max-width: map-get(c.$grid-breakpoints, lg)) {
  .main-page-container {
    padding: c.$main-horizontal-mobile-padding;
  }
}

@media (max-width: map-get(c.$grid-breakpoints, sm)) {
  .main-page-container {
    padding: 0;
  }
}
