@use 'common' as c;

$sidenav-title-height: 60px;
$desktop-menu-width: 200px;

.mat-drawer-container,
.mat-drawer-content {
  overflow: initial;
}

.doc-sidenav-container {
  margin-top: 162px;
}

.doc-main-container {
  width: 100%;
  max-width: c.$max-page-width;
  margin: 0 auto;
  padding: 0 map-get(c.$page-indent, lg);
  display: grid;
  grid-template-columns: $desktop-menu-width 1fr;
  grid-gap: 64px;
}

.doc-sidenav-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: map-get(c.$page-indent, lg);
}

.mobile-menu-btn {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(240, 240, 240, 0.5);
  border-radius: 50%;
  background: rgba(240, 240, 240, 0.25) url('../assets/svg/sidebar-burger.svg') no-repeat center;
  cursor: pointer;
  transition: 0.25s;
  z-index: 200;

  &.active {
    background: rgba(240, 240, 240, 0.25) url('../assets/svg/sidebar-close.svg') no-repeat center;
  }
}

.main-menu-toggle {
  background-color: transparent;
  box-shadow: none;
  color: c.$white-text-color;
}

.main-page-container {
  margin-bottom: 80px;
}

@media (max-width: map-get(c.$grid-breakpoints, lg)) {
  .doc-main-container {
    grid-template-columns: 1fr;
  }

  doc-main-menu {
    position: fixed;
    width: 100vw;
    height: 100%;
    left: -100vw;
    top: 0;
    background: rgba(11, 9, 22, 0.25);
    backdrop-filter: blur(6px);
    transition: 0.15s;
    z-index: 199;

    &.active {
      left: 0;
    }
  }

  .doc-sidenav-container {
    margin-top: 92px;
  }

  .doc-sidenav-title {
    font-size: 32px;
    line-height: 40px;
  }

  .mobile-menu-btn {
    display: block;
  }
}

@media (max-width: map-get(c.$grid-breakpoints, sm)) {
  .doc-main-container {
    padding: 0 16px;
  }
}
