@use 'common' as c;

$sidenav-title-height: 60px;
$desktop-menu-width: 240px;

.doc-sidenav-container {
  margin-top: 162px;
}

.doc-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $desktop-menu-width;
  border-right: 1px solid c.$border-color;
  background-color: c.$side-nav-bg;
}

.doc-main-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100% - #{$sidenav-title-height} - #{c.$footer-height});

  .doc-desktop-menu {
    display: none;
  }

  &.doc-desktop {
    .main-page-container {
      width: calc(100% - #{$desktop-menu-width});
    }

    .doc-desktop-menu {
      display: block;
      width: $desktop-menu-width;
      background-color: c.$side-nav-bg;
      position: sticky;
      top: 0;
      height: calc(100vh - map-get(c.$header-height, xl));
      overflow: auto;
    }
  }
}

.main-page-container {
  width: 100%;
  display: block;
  padding: c.$main-horizontal-padding;
}

.main-menu-toggle {
  background-color: transparent;
  box-shadow: none;
  color: c.$white-text-color;
}

@media (max-width: map-get(c.$grid-breakpoints, lg)) {
  .main-page-container {
    padding: c.$main-horizontal-mobile-padding;
  }
}

@media (max-width: map-get(c.$grid-breakpoints, sm)) {
  .main-page-container {
    padding: 0;
  }
}
