:host {
  font-size: 64px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text-wrapper {
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > * {
    width: calc(50% - 7px);

    &:not(:last-child) {
      margin-right: 14px;
    }
  }
}
