@use 'common' as c;

.doc-footer {
  position: fixed;
  bottom: 30px;

  a {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 13px;
    color: map-get(c.$white, 2);

    img {
      margin-left: 4px;
    }
  }
}
