<div class="example-block">
  <h3 class="example-block-title">Transfer Modal</h3>

  <w3s-button (buttonClicked)="onOpenTransferModalClick()"
              label="Open Transfer Modal"
  >
  </w3s-button>
</div>

<div class="example-block">
  <h3 class="example-block-title">Wrong Network Modal</h3>

  <w3s-button (buttonClicked)="onOpenWrongNetworkModalClick()"
              label="Open Wrong Network Modal"
  >
  </w3s-button>
</div>

<div class="example-block">
  <h3 class="example-block-title">Custom Modal</h3>

  <w3s-button (buttonClicked)="showCustomModal()"
              label="Open Custom Modal"
  >
  </w3s-button>
</div>
