.full-width {
  width: 100%;
}

.doc-controls-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.doc-control {
  padding: 10px;
}

.doc-controls-title {
  padding: 0 10px;
}

mat-select {
  text-transform: capitalize;
}


