<div class="example-buttons-container">
  <w3s-button label="Disabled" [disabled]="true"></w3s-button>

  <w3s-button label="Button" ></w3s-button>

  <w3s-button label="Button" leftIcon="wcl-icon-star"></w3s-button>

  <w3s-button label="Button" rightIcon="wcl-icon-chevron-down"></w3s-button>

  <w3s-button label="Button" leftIcon="wcl-icon-star" rightIcon="wcl-icon-chevron-down"></w3s-button>

  <w3s-button appearance="icon" leftIcon="wcl-icon-recent" color="white"></w3s-button>

  <w3s-button label="Ethereum"
              leftIcon="wcl-icon-star"
              rightIcon="wcl-icon-chevron-down"
              color="white"
  >
  </w3s-button>

  <ng-container *ngIf="identicon">
    <w3s-button label="0x643...5456" [identicon]="identicon"></w3s-button>

    <w3s-button label="0x643...5456"
                [identicon]="identicon"
                identiconPosition="left"
    >
    </w3s-button>
  </ng-container>

  <w3s-button label="Ethereum"
              leftIcon="wcl-icon-star"
              [borderRadius]="0"
              color="white"
  >
  </w3s-button>

  <w3s-button label="Ethereum"
              leftIcon="wcl-icon-star"
              [borderRadius]="0"
              [transparent]="true"
              color="white"
  >
  </w3s-button>

  <w3s-button label="1 pending" color="white" [pending]="true"></w3s-button>

  <w3s-button label="Full width btn" [adaptive]="true"></w3s-button>
</div>
