<div class="example-group">
  <h2 class="example-group-title">With Currency Icon</h2>

  <div class="example-block">
    <h3 class="example-block-title">Default</h3>

    <auc-account-balance [isCurrency]="true"></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">Colored</h3>
    <auc-account-balance
      [isCurrency]="true"
      color="blue"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">Transparent</h3>

    <auc-account-balance
      [isCurrency]="true"
      [appearance]="BALANCE_APPEARANCE.TRANSPARENT"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">Translucent</h3>

    <auc-account-balance
      [isCurrency]="true"
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">Translucent + Colored</h3>

    <auc-account-balance
      [isCurrency]="true"
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [color]="COLORS.GRAY"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address</h3>

    <auc-account-balance
      [isCurrency]="true"
      [showAddress]="true"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Colored</h3>

    <auc-account-balance
      [isCurrency]="true"
      [color]="COLORS.BLUE"
      [showAddress]="true"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Transparent</h3>

    <auc-account-balance
      [isCurrency]="true"
      [appearance]="BALANCE_APPEARANCE.TRANSPARENT"
      [showAddress]="true"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Translucent</h3>

    <auc-account-balance
      [isCurrency]="true"
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [showAddress]="true"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Translucent + colored</h3>

    <auc-account-balance
      [isCurrency]="true"
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [color]="COLORS.GRAY"
      [showAddress]="true"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Translucent + Identicon</h3>

    <auc-account-balance
      [isCurrency]="true"
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [showAddress]="true"
      [addressConfig]="{
        showIdenticon: true
      }"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Translucent + Identicon position</h3>

    <auc-account-balance
      [isCurrency]="true"
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [showAddress]="true"
      [addressConfig]="{
        showIdenticon: true,
        identiconPosition: IDENTICON_POSITION.LEFT,
        color: COLORS.BLUE
      }"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Translucent + Identicon position + Address disabled</h3>

    <auc-account-balance
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [showAddress]="true"
      [addressConfig]="{
        showIdenticon: true,
        identiconPosition: IDENTICON_POSITION.LEFT,
        color: COLORS.BLUE,
        disabled: true
      }"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>
</div>

<div class="example-group">
  <h2 class="example-group-title">Without Currency Icon</h2>

  <div class="example-block">
    <h3 class="example-block-title">Default</h3>

    <auc-account-balance></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">Colored</h3>

    <auc-account-balance
      [color]="COLORS.BLUE"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">Transparent</h3>

    <auc-account-balance
      [appearance]="BALANCE_APPEARANCE.TRANSPARENT"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">Translucent</h3>

    <auc-account-balance
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">Translucent + Colored</h3>

    <auc-account-balance
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [color]="COLORS.GRAY"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address</h3>

    <auc-account-balance
      [showAddress]="true"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Colored</h3>

    <auc-account-balance
      [color]="COLORS.BLUE"
      [showAddress]="true"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Transparent</h3>

    <auc-account-balance
      [appearance]="BALANCE_APPEARANCE.TRANSPARENT"
      [showAddress]="true"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Translucent</h3>

    <auc-account-balance
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [showAddress]="true"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Translucent + colored</h3>

    <auc-account-balance
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [color]="COLORS.GRAY"
      [showAddress]="true"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Translucent + Identicon</h3>

    <auc-account-balance
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [showAddress]="true"
      [addressConfig]="{
        showIdenticon: true
      }"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Translucent + Identicon position</h3>

    <auc-account-balance
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [showAddress]="true"
      [addressConfig]="{
        showIdenticon: true,
        identiconPosition: IDENTICON_POSITION.LEFT,
        color: COLORS.BLUE
      }"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>

  <div class="example-block">
    <h3 class="example-block-title">With address + Translucent + Identicon position + Address disabled</h3>

    <auc-account-balance
      [appearance]="BALANCE_APPEARANCE.TRANSLUCENT"
      [addressConfig]="{
        showIdenticon: true,
        identiconPosition: IDENTICON_POSITION.LEFT,
        color: COLORS.BLUE,
        disabled: true
      }"
      (accountClicked)="accountClicked()"
    ></auc-account-balance>
  </div>
</div>
